# Puerto estàndar de la aplicaciòn
PORT=3000

# Entorno por defecto
NODE_ENV=development

# Estructura de la URL de Neon
DATABASE_URL=postgresql://neondb_owner:TU_PASSWORD@ep-midb.neon.tech/neondb

# Estructura de la URL de CloudAMQP 
RABBITMQ_URL=amqps://usuario:password@servidor.cloudamqp.com/vhost

# URL del Front
FRONTEND_URL=https://tu-sitio.netlify.app

#Clave interna de ejemplo
INTERNAL_API_KEY=proyecto_titec_123

# Json Web Tokens
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
